/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/components/PageNotFound/PageNotFound.module.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&family=Montserrat:wght@400;500;600&display=swap");
.PageNotFound_mainErr__AUOAd {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  padding: 38px 16px;
}
@media only screen and (min-width: 768px) {
  .PageNotFound_mainErr__AUOAd {
    padding: 48px 65px 52px;
  }
}
@media only screen and (min-width: 1366px) {
  .PageNotFound_mainErr__AUOAd {
    padding: 110px 260px 65px 260px;
  }
}
.PageNotFound_mainErr__AUOAd .PageNotFound_wrapper__Lab2C {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.PageNotFound_mainErr__AUOAd .PageNotFound_wrapper__Lab2C .PageNotFound_numbers__AbA8T {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  letter-spacing: 0.01em;
  font-weight: 500;
  line-height: 150%;
  font-size: 96px;
  line-height: 1.1;
  color: #9a9a9a;
}
@media only screen and (min-width: 768px) {
  .PageNotFound_mainErr__AUOAd .PageNotFound_wrapper__Lab2C .PageNotFound_numbers__AbA8T {
    font-size: 164px;
  }
}
@media only screen and (min-width: 1366px) {
  .PageNotFound_mainErr__AUOAd .PageNotFound_wrapper__Lab2C .PageNotFound_numbers__AbA8T {
    font-size: 200px;
  }
}
.PageNotFound_mainErr__AUOAd .PageNotFound_wrapper__Lab2C p {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  letter-spacing: 0.01em;
  font-weight: 500;
  line-height: 150%;
  font-size: 14px;
  font-weight: 700;
  color: #fcfcfc;
  text-align: center;
  margin-bottom: 8px;
}
@media only screen and (min-width: 768px) {
  .PageNotFound_mainErr__AUOAd .PageNotFound_wrapper__Lab2C p {
    font-size: 24px;
    margin-bottom: 48px;
  }
}
/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/components/shared/MainButton/mainbutton.module.scss ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&family=Montserrat:wght@400;500;600&display=swap");
.mainbutton_btn_main__mguuL {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  letter-spacing: 0.01em;
  font-weight: 600;
  line-height: 150%;
  position: relative;
  overflow: hidden;
  color: #fcfcfc;
  padding: 10.5px 24px;
  border-radius: 8px;
  cursor: pointer;
  z-index: 2;
  box-shadow: none;
  border: none;
}
@media (any-hover: hover) {
  .mainbutton_btn_main__mguuL {
    transition: all 0.3s ease;
  }
}
@media only screen and (min-width: 768px) {
  .mainbutton_btn_main__mguuL {
    padding: 14px 24px;
  }
}
.mainbutton_btn_main__mguuL::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(160deg, #e37cc1 0%, #e231a8 36.5%, #9d2f79 76%, #851a62 100%);
  box-shadow: inset 3px 3px 3px rgba(255, 255, 255, 0.213), inset -3px -3px 3px rgba(88, 4, 70, 0.532);
  transition: all 0.3s ease;
}
.mainbutton_btn_main__mguuL::before {
  content: "";
  position: absolute;
  opacity: 0;
  z-index: -1;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(130deg, #6c2276 0%, #682d78 32%, #643579 56%, #613b7a 75%, #5d447c 91%);
  box-shadow: inset 3px 3px 3px rgba(255, 255, 255, 0.213), inset -3px -3px 3px rgba(54, 4, 88, 0.532);
  transition: all 0.3s ease;
}
@media (any-hover: hover) {
  .mainbutton_btn_main__mguuL:hover::after {
    opacity: 0;
  }
  .mainbutton_btn_main__mguuL:hover::before {
    opacity: 1;
  }
}
@media (hover: none) {
  .mainbutton_btn_main__mguuL:active::after {
    opacity: 0;
  }
  .mainbutton_btn_main__mguuL:active::before {
    opacity: 1;
  }
}
.mainbutton_btn_main__mguuL:disabled::after {
  opacity: 0;
}
.mainbutton_btn_main__mguuL:disabled {
  background: #9a9a9a;
  color: #363636;
  cursor: default;
}
.mainbutton_btn_main__mguuL:disabled::after {
  opacity: 0;
}
.mainbutton_btn_main__mguuL:disabled::before {
  opacity: 0;
}

.mainbutton_btn_modal__1MLVQ {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  letter-spacing: 0.01em;
  font-weight: 400;
  line-height: 150%;
  font-size: 14px;
  font-weight: 400;
  color: #fcfcfc;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 28px;
  height: 45px;
  border: 1px solid #fcfcfc;
  border-radius: 8px;
  cursor: pointer;
  background: none;
  box-shadow: none;
  transition: all 0.3s ease;
}
@media only screen and (min-width: 768px) {
  .mainbutton_btn_modal__1MLVQ {
    height: 52px;
    font-size: 18px;
  }
}
@media only screen and (min-width: 1366px) {
  .mainbutton_btn_modal__1MLVQ {
    height: 62px;
    font-size: 20px;
    padding: 0 32px;
  }
}
.mainbutton_btn_modal__1MLVQ:hover, .mainbutton_btn_modal__1MLVQ:focus {
  background: #ededed;
  color: #030110;
  border: 1px solid #ff62ce;
  box-shadow: inset 1px 1px #ff62ce, inset -1px -1px #ff62ce;
}
.mainbutton_btn_modal__1MLVQ:disabled {
  background: #9a9a9a;
  color: #363636;
  cursor: default;
}
